<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <!-- Facebook sharing information tags -->
    <meta property="og:title" content="*|MC:SUBJECT|*">
    <title>*|MC:SUBJECT|*</title>
    <style type="text/css">
      .title_content a,.header_news a{
        font-weight:bold;
        color:#15C;
        font-size:15px;
      }
      .title_content{
        font-size:14px;
        margin-top:5px;
        line-height:19px;
        color:#333;
      }
  </style>
</head>

<body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0" style="background:#EEE; padding-top:50px;">

  <center>

    <table border="0" cellpadding="0" cellspacing="0" width="600" bgcolor="#FFFFFF" style="border:1px solid #DDD;">

      <!-- Header -->
      <tr>
        <td bgcolor="#f5f5f5" style="padding:20px 30px;">
          <img src="http://raw.github.com/braziljs/weekly/master/editions/assets/img/logo3.jpg" alt="Weekly" />
        </td>
        <td bgcolor="#f5f5f5" valign="bottom" style="padding:20px 30px; text-align:right; font:italic 20px Arial, Helvetica, sans-serif;">

          <a href="http://braziljs.org"><img src="https://d2q0qd5iz04n9u.cloudfront.net/_ssl/proxy.php/http/braziljs.org/weekly/logo-braziljs.png" alt=""></a><br />
           <p style="font-size: 14px; color:#999;">Seleção semanal que reúne as novidades<br> sobre o desenvolvimento Web no Brasil</p>
        </td>
      </tr>

      <!-- Intro -->
      <tr>
        <td colspan="2" style="padding:20px 30px 0 10px; font-family:Arial, Helvetica, sans-serif; border-bottom: 1px solid #ddd">
            <p mc:edit="description" class="header_news" style="font-size:14px; text-align: center; margin:0; padding:0 0 20px 0; line-height:170%; color:#444;">Sugira um artigo, biblioteca, evento, vaga<br>
ou qualquer outra coisa que voc&ecirc; gostaria que aparecesse por aqui :)<br>
<a href="https://docs.google.com/spreadsheet/viewform?formkey=dDFFX3h3YkVpdV9mNnpYMzBvLXNaLUE6MQ" style="font-weight: bold;color: #15C;font-size: 15px;" target="_blank">Envie sua ideia agora!</a></p>
        </td>
      </tr>

      <!-- Patrocinador -->
      <tr>
        <td colspan="2" style="padding:15px 30px 5px; text-align:center; font-family:Arial, Helvetica, sans-serif;">
          <table border="0" cellpadding="0" cellspacing="0" width="625">

            <tr>
              <td style="background:#FAFAFA; text-align: center; font-size:15px; color:#777; padding:8px; border:1px solid #EEE;">
                <strong mc:edit="item_title">Patrocinador</strong>
              </td>
            </tr>

            <tr>
              <td>
                <table border="0" cellpadding="0" cellspacing="0" width="600">
                  <tr>
                    <td style="text-align: left; padding: 20px 0 5px;;">
                      <p style="margin: 1.2em 0px 1.2em 0px; line-height: 1.4em; clear:both; font-size: 15px" class=" sponsor">
                        <a href="#">
                          <img src="https://raw.github.com/braziljs/weekly/master/assets/img/logo-patrocinador.jpg" width="125" height="125" style="float: right; margin-left: 14px; margin-bottom: 16px; border: 1px solid #1173c7">
                        </a>
                         Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit, soluta, rerum nobis reiciendis vitae a obcaecati labore iusto pariatur aut sunt autem incidunt repellendus asperiores ad iste maxime placeat dolore recusandae molestias vel expedita nemo sequi repudiandae animi praesentium dolores. Nihil dolorum voluptates ad et optio.
                      </p>
                      <br/>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>

          </table>
        </td>
      </tr>

      <!-- Conteudo -->
      <tr mc:repeatable>
        <td colspan="2" style="padding:15px 30px 5px; text-align:center; font-family:Arial, Helvetica, sans-serif;">
          <table border="0" cellpadding="0" cellspacing="0" width="625">

            <tr>
              <td style="background:#FAFAFA; text-align: center; font-size:15px; color:#777; padding:8px; border:1px solid #EEE;">
                <strong mc:edit="item_title">Lorem ipsum dolor</strong>
              </td>
            </tr>

            <tr>
              <td>
                <table border="0" cellpadding="0" cellspacing="0" width="600">
                  <tr>
                    <td style="text-align: left; padding: 20px 0 5px;;">
                      <p mc:edit="Content_Novidades" class="title_content">
                         Lorem ipsum dolor sit amet, consectetur adipisicing elit. <a href="">Numquam deleniti</a> velit atque incidunt magni libero enim repudiandae sapiente neque aut voluptates voluptatibus fugiat soluta eos ratione dignissimos eum? Facilis perspiciatis?
                      </p>
                      <br/>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>

          </table>
        </td>
      </tr>
    </table>

    <!-- Credits -->
    <table border="0" cellpadding="0" cellspacing="0" width="600" style="margin-top:10px;">
      <tr>
        <td>
          <p style="text-align:center; color:#666; font:12px Arial, Helvetica, sans-serif;">
            Siga no <a href="https://twitter.com/#!/braziljs" style="color:#4085CA;">Twitter</a>
          </p>
          <p style="text-align:center; color:#666; font:12px Arial, Helvetica, sans-serif;">
            Acompanhe no <a href="http://www.facebook.com/braziljs" style="color:#4085CA;">Facebook</a>
          </p>
          <p style="text-align:center; color:#666; font:12px Arial, Helvetica, sans-serif;">
            Participe do nosso <a href="https://groups.google.com/forum/?fromgroups#!forum/braziljs-foundation" style="color:#4085CA;">Grupo de Discussão</a>
          </p>
          <p style="text-align:center; color:#666; font:12px Arial, Helvetica, sans-serif;">
        Esquecemos de citar algo legal? Fale conosco: <a href="mailto:contact@braziljs.org" style="color:#4085CA;">contact@braziljs.org</a>
          </p>
          <p style="text-align:center; color:#666; font:12px Arial, Helvetica, sans-serif;">
            <a href="http://braziljs.org/weekly/[ número da weekly ].html" style="color:#4085CA;">Leia no browser</a> ou <a href="https://github.com/braziljs/weekly#edi%C3%A7%C3%B5es-passadas" style="color:#4085CA;">veja todas</a>
          </p>
        </td>
      </tr>
    </table>

  </center>
</body>
</html>